
@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  color: rgb(90, 89, 86);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

ul {
  list-style: none;
}

.App {
  width: 85%;
  margin: 0 auto;
}

/** HEADER **/

.header-wrapper {
  width: 450px;
}

.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4.5rem 0 6rem;
}

.header_container ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header_container ul li {
  margin-right: 1rem;
}


/** HOME **/

.home_container {
  display: flex;
  align-items: flex-end;
  margin: 0 0 6rem;
}

.home_head_wrapper {
  width: 50%;
}

.home_head_wrapper h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.home_head_wrapper h1 span {
  color: #F57C44;
}

.image_container {
  width: 50%;
  padding: 1rem;
}

.home_head_wrapper p {
  font-size: 2rem;
  line-height: 3rem;
  color: #bbb;
  padding: 2rem 0 10rem;
}


/** WORK **/
.work_container h1 {
  margin: 2rem 0;
}
.project {
  width: 30%;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 15px 5px rgba(30,30,30, 0.3);
}

.projects_container {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-bottom: 6rem;
}

/** CONTACT **/

.contact_container h1{
  font-size: 5rem;
  margin-bottom: 3.5rem;
}

.contact_container p {
  font-size: 1.5rem;
}

.email_link {
  color: #F57C44;
  font-size: 4rem;
}

.social_links ul {
  display: flex;
  margin: 2rem 0;
}

.social_links li {
  margin-right: 1.5rem;

}

.social_links a{
  font-size: 2rem;
  color: rgb(90, 89, 86);
}

.social_links a:hover {
  color: #AAA;
}

@media only screen and (max-width: 1200px) {
  .home_container {
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  .project {
    width: 45%;
    margin: 2rem auto;
  }
  .home_container {
    flex-direction: column-reverse;
  }

  .home_head_wrapper , .image_container {
    width: 80%;
  }
  .home_head_wrapper h1 {
    font-size: 3.5rem;
  }
}


@media only screen and (max-width: 600px) {
  .App {
    width: 90%;
  }
  .header_container {
    flex-direction: column;
  }

  .header-wrapper {
    width: 100%;
  }

  .home_container {
    flex-direction: column-reverse;
  }

  .home_head_wrapper {
    width: 100%;
  }

  .image_container {
    width: 100%;
  }

  .project {
    width: 90%;
    margin: 2rem auto;
  }
  .contact_container p {
    font-size: 1rem;
  }
  
  .email_link {
    color: #F57C44;
    font-size: 2rem;
  }
}
/*
Manage data in state - maybe convert App.js to a class based component to hold traditional state, or use useState in the functional component
*/
